#analyzingLabel {
    margin-top: -20px;
    font-size: 13px;
}

.bodyfont {
    font-family: Segoe UI,CustomSegoeUI,Arial;
    color: #f8f7bb;
    color: #fff;
    font-style: normal;
    font-size: 21px;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}

.imgAttribution {
    position: absolute;
    bottom: 2px;
    left: 2px;
    background: #f89821;
    background: rgba(248,152,33,.4);
    padding: 1px 4px;
    color: #f8f7bb;
    color: #fff;
    pointer-events: all!important;
    margin: 0;
    font: 14px Segoe UI Light,CustomSegoeUILight,Arial;
}

a {
    color: #337ab7;
    text-decoration: none;
}

.tooltip.top {
    padding: 5px 0;
    margin-top: -3px;
}

.tooltip.in {
    filter: alpha(opacity=90);
    opacity: .9;
}

.fade.in {
    opacity: 1;
}

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    filter: alpha(opacity=0);
    opacity: 0;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.face-tooltip+.tooltip>.tooltip-arrow {
    border-bottom-color: #f1d100;
    border-top-color: #f1d100;
    border-top-width: 10px;
    border-right-width: 10px;
    border-left-width: 10px;
    margin-left: -10px;
    margin-bottom: -3px;
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.big-face-tooltip+.tooltip>.tooltip-inner {
    font-size: 50px;
}

.face-tooltip+.tooltip>.tooltip-inner {
    background-color: #f1d100;
    border-radius: 0;
    color: #d86718;
    font-size: x-large;
    font-family: Segoe UI Light,CustomSegoeUILight,Arial;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    box-shadow: 5px 5px 10px #333;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    border-radius: 4px;
}

img.big-face-tooltip {
    width: 28.6px;
    height: 60px;
    margin-right: 6px;
    margin-top: -13px;
}

.bodyfont {
    font-family: Segoe UI,CustomSegoeUI,Arial;
    color: #f8f7bb;
    color: #fff;
    font-style: normal;
    font-size: 21px;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

p {
    margin: 0 0 10px;
}

#gameBtn {
    margin-bottom: 5px;
    background-color: #107c10;
    border-radius: 0;
    min-width: 220px;
}

.action {
    font-family: Segoe UI Semibold,CustomSegoeSemibold,Arial;
    font-size: 19px;
    color: #f8f7bb;
    color: #fff;
    border: 1px solid #fff;
}

.btn-default, .btn-default:hover {
    background-color: #dd5900;
    border-radius: 0;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
#gameConjunction {
    margin-bottom: 5px;
    font-size: 9.5pt;
}

.action {
    font-family: Segoe UI Semibold,CustomSegoeSemibold,Arial;
    font-size: 19px;
    color: #f8f7bb;
    color: #fff;
    border: 1px solid #fff;
}

.btn-default, .btn-default:hover {
    background-color: #dd5900;
    border-radius: 0;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

code, kbd, pre, samp {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

pre {
    overflow: auto;
}

#imageSpacer{
    margin-left: -350px;
    min-height: 100px;
    position: absolute;
}

#errSection{
    width: 100%;
    color: blue;
}

#outputSection {
    font-family: az_ea_font,wf_segoe-ui_normal,"Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
    width: 100%;
    font-size: 12px;
    border: 1px solid silver;
    background-color: #E6E6FA !important;
}




#outputSection:focus{
    outline: #00bcf2 solid 1px;
    outline-offset: -1px;
    box-shadow: inset 0 0 1px 1px #00bcf2;
}